<footer>
  <div class='container-fluid' style= "background-color: #eee2d3">
  	<div class='row'>
    	<div class='mx-auto'>
    	  <p class="text-secondary">Nagano Cake    Justice</p>
    	　<i class="fa-brands fa-twitter-square fa-2x text-secondary"></i>
    	　<i class="fa-brands fa-line fa-2x text-secondary"></i>
    	　<i class="fa-brands fa-facebook-square  fa-2x text-secondary"></i>
    	</div>
     </div>
  </div>
</footer>